page-order {
  
  ion-content.content {
    background: map-get($map: $colors, $key: light);
  } 
  .container{
    padding: 20px 16px;
    .searchbar-ios{
      background: transparent;
      border-bottom: none !important;
    }
    .searchbar-ios .searchbar-search-icon {
      top: 12px;
    }
    .searchbar-ios .searchbar-input{
      font-size: 1.3rem;
      height: 3.6rem;
      box-shadow: 0 0 6px rgba($color: #000000, $alpha: .2);
    }

    th{
      background-color: map-get($map: $colors, $key: orange);
      color: white;
      padding: 16px 0;
    }
    .white-bg{
      background: white;
    }
    td{
      padding: 14px 0;
      // background: #f8f8f8;
    }
   
    .table-container{
      border: 1px solid #BAC1D5;
      margin-top: 32px;
    }
  }

  .order-title{
    font-weight: bold;
    color: #222;
    font-size: 3rem;
  }

  .item {
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
  }


  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    box-shadow: none;
  }

  .item-md.item-block .item-inner {
    border-bottom: none;
  }

  .item-md.item-input.item-input-has-focus .item-inner,
  .item-md.item-input.input-has-focus .item-inner {

    border-radius: 5px;
    box-shadow: none;
  }

  .item-ios.item-input.item-input-has-focus .item-inner,
  .item-ios.item-input.input-has-focus .item-inner {
    border-radius: 5px;
    box-shadow: none;
  }
}
