page-combo {
  .tittle {
    padding: 15px;
    font-size: 30px;
    text-align: center;
  }

  .btns {
    text-align: center;
    margin-top: 20px;

    button {
      padding: 6px;
      min-width: 150px;
      margin-right: 20px;
    }
  }

  .bg-color1 {
    background: rgb(235, 220, 18);
    color: black;
  }

  .avata {
    border: 1px solid black;
    max-width: 200px;
    min-height: 200px;
    position: relative;
    margin: auto;
  }

  .icon-ava:hover {
    opacity: 0.6;
  }

  .button-md:hover:not(.disable-hover) {
    background-color: #00634e;
    opacity: 0.8;
  }

  .icon-ava {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 20px;
    padding: 6px;
  }

  .avata-img {
    display: flex;
    margin-top: 8px;
    position: absolute;
    left: 30px;
  }

  .take-photo {
    padding: 8px;
    border-right: 1px solid black;
  }

  .photo {
    border-right: none;
  }

  .category-container {
    padding: 20px;
  }

  .category-info {
    padding: 10px;
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .cate-tittle {
    position: relative;
    p{
      font-size: 28px;
    }
  }

  .btn-category {
    position: absolute;
    color: black;
    border: 1px solid;
    top: 0;
    right: 10px;
    border-radius: 50%;
    padding: 6px;
  }

  .btn-category:hover {
    color: orangered !important;
    background-color: white !important;
  }
  .combo-container {
    display: grid;
    justify-content: center;
    font-size: 18px;
  }

  input {
    min-width: 500px;
    padding: 8px;
  }

  td {
    padding: 10px;
    margin: 15px 0;
  }

  .combo-title {
    font-size: 32px;
    padding: 12px;
  }

  .caculator {
    border-top: 1px solid black;
    display: flex;
    text-align: right;
  }

  ion-label {
    max-width: 200px;
  }

  .close-btn {
    position: absolute;
    right: 0;
    top: 0;


    button {
      border: 1px solid yellow;
      padding: 8px;
      text-align: left;
      color: black
    }
  }

  .btn {
    text-align: center;
    margin-top: 20px;

    button {
      color: black;
      background-color: #ffb713;
      min-width: 150px;
    }
    button:hover{
      opacity: 0.8;
      background: #ffb713 !important;
    }
  }
}
