<ion-header>
  <ion-toolbar>
    <ion-buttons right>
      <button ion-button icon-only navPop>
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{cateTitle}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="category-container">
    <div id="catagorys" *ngIf="mMode == 1">
      <ion-item>
        <ion-input type="text" placeholder="Tên danh mục" [(ngModel)]="categoryName"></ion-input>
      </ion-item>

      <ion-item> 
        <ion-label>Loại</ion-label>
        <ion-select [(ngModel)]="mTypeCategory">
          <ion-option value="1">Đồ ăn</ion-option>
          <ion-option value="2">Đồ uống</ion-option>
        </ion-select>
      </ion-item>

    </div>

    <div id="foods" *ngIf="mMode == 2">

      <ion-item>
        <ion-input type="text" placeholder="Tên món ăn"></ion-input>
      </ion-item>
 
      <ion-item>
        <ion-input type="number" placeholder="Giá tiền(VNĐ)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Đơn vị</ion-label>
        <ion-select [(ngModel)]="mCurrency">
          <ion-option value="1">Suất</ion-option>
          <ion-option value="2">Con</ion-option>
          <ion-option value="3">Đĩa</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Loại</ion-label>
        <ion-select [(ngModel)]="mTypeCategory">
          <ion-option value="1">Đồ ăn</ion-option>
          <ion-option value="2">Đồ uống</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Khu vực chế biến</ion-label>
        <ion-select [(ngModel)]="mArea" placeholder="Chọn khu vực">
          <ion-option value="{{item.area_id}}" *ngFor="let item of mAreas">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>

    </div>

    <div id="combos" *ngIf="mMode == 3">
      <ion-item>
        <ion-input type="text" placeholder="Tên combo"></ion-input>
      </ion-item>

      <ion-item class="gray-color">
        <ion-icon item-start name="search"></ion-icon>
        <ion-label>Thêm và tìm kiếm sản phẩm</ion-label>
      </ion-item>

      <div class="c-product" >
        <ion-row align-items-center *ngFor="let item of mProductsProductModels; let i = index">
          <ion-col col-6>
            <div class="product-name">{{i+1}}. {{item.product.name}}</div>
          </ion-col>
          <ion-col col-1>
            x
          </ion-col>
          <ion-col col-4>
            <ion-item>
              <ion-input type="number" placeholder="Số lượng" [(ngModel)]="item.quantity"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-1>
            <div class="btn-container">
              <button ion-button icon-only clear color="dark">
                <ion-icon name="close"></ion-icon>
              </button>
            </div>
          </ion-col>
        </ion-row>
      </div>

      <div class="total-money">
        Tạm tính: {{total_money | number}}
      </div>

      <ion-item>
        <ion-input type="number" placeholder="Giá bán(VNĐ)"></ion-input>
      </ion-item>


    </div>

    <div class="btn-save-bottom">
      <button ion-button (click)="onClickSave()">Lưu</button>
    </div>
  </div>



</ion-content>
