page-home {
  .img-cover {
    background-image: url("../assets/imgs/Healthy-Dessert-Watermelon-Pizza-Topped-Fruit-806-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}
