page-schedule {
  .tittle-name {
    display: flex;
    position: relative;
    background-color: #dddddd;
    border-bottom: 1px solid rgb(180, 180, 180);

    p {
      margin-left: 15px;
      font-size: 20px;
    }
  }

  .btn-menu {
    margin: auto;
    padding: 20px;
    color: white;
    background-color: rgb(17, 141, 44);

    ion-icon {
      margin: 10px;
    }
  }

  .btn-menu:hover {
    background-color: rgb(17, 141, 44) !important;
    color: rgb(212, 84, 37);
  }

  .search-btn {
    display: flex;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .list-employee {
    margin: 20px;
    width: 100%;

    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
    }

    th,
    td {
      text-align: left;
      padding: 16px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2
    }

    .hover-name:hover {
      color: red;
    }

  }
  .table-title {
    background-color: rgb(194, 112, 18);
    color: white;
  }
  
  // rgb(161, 62, 26)
}
