page-menu {
  .m-body-container{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
  }
  ion-content.content{
    background: whitesmoke;
  }
  .m-name-menu {
    color: gray;
    background: white;
    border: 1px solid lightgray;
    padding: 10px 16px;
    text-align: center;
    min-width: 120px;
    border-radius: 5px;
    margin-right: 16px;
    cursor: pointer;

    &.selected {
      background: map-get($map: $colors, $key: green);
      color: white;
      border-color: map-get($map: $colors, $key: green);
    }
  }

  .m-name-menu:first-child {
    margin-left: 12px;
  }

  .title-menu {
    font-weight: bold;
    color: #222;
    font-size: 2.2rem;
  }
  .btn-add-container{
    padding-left: 10px;
    .button{
      background-color: map-get($map: $colors, $key: green);
      border-radius: 5px;
      box-shadow: 0 3px 6px rgba($color: map-get($map: $colors, $key: green), $alpha: .16);
    }
  }
  .m-search-container{
    .searchbar-ios{
      background: transparent;
      border-bottom: none !important;
    }
    .searchbar-ios .searchbar-search-icon {
      top: 12px;
    }
    .searchbar-ios .searchbar-input{
      font-size: 1.3rem;
      height: 3.6rem;
      box-shadow: 0 0 6px rgba($color: #000000, $alpha: .2);
    }
  }
  .table-container{
    margin-top: 20px;
    border: 1px solid #BAC1D5;
    margin-bottom: 20px;
    .total-name{
      padding: 16px;
    }
    .white-bg{
      td{
        background: white;
      }
    }
    th{
      background-color: map-get($map: $colors, $key: orange);
      color: white;
      padding: 16px 0;
    }
    td{
      padding: 14px 0;
      background: #f8f8f8;
    }
    .width-50{
      width: 60px;
    }
  }
  
}
